<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<table class="table">
  <thead>
    <th>Income</th>
    <th>Expense</th>
  </thead>
  <tbody>
   
  </tbody>
</table>
<a href="/users/logout" class="btn btn-secondary">Logout</a>